@keyframes nav_carrousel {
    // Durée 20sec
    // ------------------
    // Passe d'une image a l'autre dans le 
    // nav pour former un caroussel
    // ------
    // Pause entre chaque deplacement 5s
    // Soit pour 3 photo 15s
    // revient a l'image 1 en fin de cycle
    //
    // Img1 {5s}                ==> 0%  A 24%
    // Img to Img2 {1.66s}      ==> 24% A 33%
    // Img2 {5s}                ==> 34% A 58%
    // Img2 to Img3 {1.66s}     ==> 58% A 66%
    // Img3 {5s}                ==> 67% A 92%
    // Img3 to Img1 {1.66s}     ==> 92% A 100%
    //
    // ------


    // Start
    0%      {background-position-x: 0%;    }
    24%     {background-position-x: 0%;    }

    33%     {background-position-x: 50%;   }
    58%     {background-position-x: 50%;   }

    66%     {background-position-x: 100%;  }
    92%     {background-position-x: 100%;  }

    100%    {background-position-x: 0%;    }
    // End 

}
