/***************
      Flex 
****************/

    .container {
        display: flex;
        flex-direction: column;
        margin-bottom : 2rem ;
    }

    .row {
        justify-content: center;
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        align-content: center;
    }

    .col {
        width: 100%;
    }


/***************
    Media Query 
****************/

    @media only screen and (min-width: $BP1) {

    }

    @media only screen and (min-width: $BP2) {

    }
