nav  {
    background: url('../img/lauzanne_img_SM.jpg');
    background-position: bottom;
    background-size: cover;
    height: 55vh;
    
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    @media only screen and (min-width: $BP0) {
        padding: 0 2rem;
    }

    a {
        background : $black;
        color      : #fff;
        font-family: monospace;
        font-size  : 1.8rem;
        text-align : center;
        padding    : 1em 0;
        width      : 100%;
        margin     : 2px;

        
        position: relative;
        top: 45vh;

        &:hover {
            background: lighten($black, 10%);
            color :  darken(#fff, 10%);
        }
    }

    @media only screen and (min-width: $BP1) {
        background: url('../img/lauzanne_img_TB.jpg'); // Background Tablette
        background-position: bottom;
        background-size: cover;
    }

    @media only screen and (min-width: $BP2) {
        background: url('../img/lauzanne_img_LG_panorama2.jpg'); // Background grand ecran
        background-position-x: 0px;
        background-position-y: center;
        background-size: 300%;
        animation-duration: 20s;
        animation-name: nav_carrousel;
        animation-iteration-count: infinite;

        height: 80vh;
        flex-direction: row;

        a {
            position: initial;
            align-self: flex-end; 
            text-align: center;
        }
    }
}