// ========================   B R E A C K P O I N T  ======================== //

	$BP0 : 480px;
	$BP1 : 768px;
	$BP2 : 960px;
	
// ========================   C O L O R S  ======================== //

	$black :  rgba(0,0,0,0.80);